/*Estiliza Body*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(251, 244, 244);
}

/*Estiliza Tudo*/
.main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1%;
    width: 40rem;
    height: 50rem;
}

/*Estiliza Links*/
.link{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

/*Feedback Link */
.link:hover{
    text-decoration: underline;
}

/*Centraliza e espaça links*/
.nav_links{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: center ;
}

/*Estiliza foto da bandeira*/
#bandeira{
    width: 25rem;
    display: flex;
    border: solid black 0.2rem;
}

/*Centraliza bandeira*/
#img_container{
    display: flex;
    justify-content: center;
    align-items: center;
}